<div class="show-pages">
  <div class="container">
    <div class="form-basic">
      <div class="form-title-row">
        <h1>Edit artist</h1>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
