  <div id="homepage">
    <div class="home-header">
      <h1>Codaisseurify</h1>
      <h3> We &#10084; music </h3>
      <%= link_to 'Browse artists', artists_path %>
      <%= link_to 'Add artists', new_artist_path %>
    </div>
  </div>
