@import "bootstrap-sprockets";
@import "bootstrap";

.container-fluid {
  padding: 0;
}

.container {
  max-width: 900px;
}

.navbar {
  background-color: #000;
  color: #fff;
}

.navbar-brand {
  color: #fff;
  font-size: 18px;
}

.navbar-default {
  color: #fff;
}

/* form styles */

html {
    height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  height: 100%;
}

#homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('http://res.cloudinary.com/dyyxiefx5/image/upload/v1507934953/codaisseurify/photo-1483412033650-1015ddeb83d1.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 600px;
  position: relative;
  text-align: center;

  .home-header {
    padding-top: 250px;
  }

  h1 {
    color: #fff;
    font-size: 100px;
    font-weight: 400;
  }

  h3 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  a {
    color: #fff;
    font-size: 24px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    margin: 0 20px;
  }
}

.form-basic{
    max-width: 640px;
    margin: 0 auto;
    padding: 55px;
    box-sizing: border-box;

    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    font: bold 14px sans-serif;
    text-align: center;
}

.form-basic .form-row{
    text-align: left;
    margin-bottom: 22px;
}

.form-basic .form-title-row{
    text-align: center;
    margin-bottom: 55px;
}

.form-basic h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 0 10px 15px;
    border-bottom: 2px solid #6caee0;
    margin: 0;
}

.form-basic .form-row > label span{
    display: inline-block;
    box-sizing: border-box;
    color: #5F5F5F;
    width: 180px;
    text-align: right;
    vertical-align: top;
    padding: 12px 25px;
}

.input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px;
    border: 1px solid #dbdbdb;
    margin: 0 auto;
}

.textarea{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    height: 80px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    font: normal 13px sans-serif;
    padding: 12px;
    border: 1px solid #dbdbdb;
    resize: vertical;
}

.submit-button{
    display: block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin: 40px 183px 0;
    width: 240px;
}

.uploader {
  text-align: center;
  display: block;
  border-radius: 2px;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 0;
  border: 0;
  margin: 40px 183px 0;
  width: 240px;
}

.btn {
    max-width: 220px;
    display: inline-block;
    margin: 0 auto;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    border-color: #adadad;
}

.show-pages {
  margin-top: 100px;
}

.artists-index {
  width: 640px;
  margin: 0 auto;
}

.artist {
  width: 600px;
  border: 1px solid #000;
  position: relative;
  margin: 20px;
}

.artist-photo {
  width: 150px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  background-position: center;
  background-size: contain;

  img {
    vertical-align: middle;
  }
}

.artist-details {
  display: inline-block;
  position: absolute;
  top:10px;
  text-align: center;
  width: 450px;
}

.change-buttons {
  display: inline-block;
}

.artist-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}

.genre {
  font-weight: 200;
  font-style: italic;
  font-size: 14px;
}

.artist-actions {
  margin-top: 20px;

  a {
    text-decoration: none;
    margin: 0 20px;
  }
}

.artist-buttons {
  text-align: right;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.artist-photos {
  float: left;
  width: 40%;
  padding: 20px;
  font-size: 0;

  .artist-photo {
    overflow: hidden;
    border: 5px solid #4a4a4a;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
}

.artist-info {
  float: right;
  width: 60%;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 24px;
    margin: 0;
  }

  h2 {
    font-size: 18px;
  }
}

.artist-genre {
  color: #777;
  font-style: italic;
}

ul {
  list-style-type: none;
  padding: 0;
}

.delete-button {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
